<section class="stats-content">
  <h2>Round <%= lastRound %> Results</h2>
  <div id="summary"></div>
  <div class="scores">
    <table>
      <thead>
              <tr>
                      <th>User</th><th>Round <%= lastRound %></th><th>Total</th>
              </tr>
      </thead>
      <tbody id="scores-tbody">
      </tbody>
    </table>
  </div>
  <% if (player === firstPlayer) { %>
    <button id="ready">Begin Round <%= lastRound + 1%></button>
  <% } else { %>
    <p class="waiting">Waiting for <%= firstPlayer %> to begin round <%= lastRound + 1 %></p>
  <% } %>
</section>
<!-- The Modal -->
<div id="my-modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h4>Possible Words</h4>
    </div>
    <div class="modal-body">
    </div>
  </div>
</div>
